:root {
  --rc-toast-default-width: max-content;
  --rc-toast-max-width: 70%;
  --rc-toast-default-min-height: 36px;
  --rc-toast-default-padding: 16px 16px;
  --rc-toast-text-color: theme(colors.white);
  --rc-toast-font-size: 1rem;
  --rc-toast-background-color: theme(colors.black / 70%);
  --rc-toast-border-radius: theme(borderRadius.default);
  --rc-toast-text-min-width: auto;
  --rc-toast-text-padding: 0;
  --rc-toast-position-top-distance: 20%;
  --rc-toast-position-bottom-distance: 20%;
  --rc-toast-icon-margin: 0 8px 0 0;
  --rc-toast-icon-size: 16px;
  --rc-toast-box-shadow: theme(boxShadow.default);
}

.rc-toast {
  &__wrap {
    pointer-events: none;
  }
  &.rc-popup {
    @apply box-border whitespace-pre-wrap break-words text-center origin-center align-middle pointer-events-auto;
    width: var(--rc-toast-default-width);
    min-height: var(--rc-toast-default-min-height);
    padding: var(--rc-toast-default-padding);
    color: var(--rc-toast-text-color);
    font-size: var(--rc-toast-font-size);
    background-color: var(--rc-toast-background-color);
    border-radius: var(--rc-toast-border-radius);
    transition: all var(--rc-animation-duration-fast);
    max-width: var(--rc-toast-max-width);
    box-shadow: var(--rc-toast-box-shadow);
  }

  &&--unclickable {
    @apply overflow-hidden;

    * {
      @apply pointer-events-none;
    }
  }

  &&--info,
  &&--html {
    @apply w-fit min-h-0;
    min-width: var(--rc-toast-text-min-width);
    padding: var(--rc-toast-text-padding);

    .rc-toast__info {
      @apply mt-0;
    }
  }

  &&--top {
    top: var(--rc-toast-position-top-distance);
  }

  &&--bottom {
    @apply top-auto;
    bottom: var(--rc-toast-position-bottom-distance);
  }

  &__content {
    @apply flex items-center;
  }

  &__icon {
    font-size: var(--rc-toast-icon-size);
    margin: var(--rc-toast-icon-margin);
    &--click {
      @apply cursor-pointer;
    }
  }

  &__loading {
    padding: var(--rc-padding-base);
    color: var(--rc-toast-loading-icon-color);
  }

  &__info {
    margin-top: var(--rc-padding-xs);
  }

  &__error {
    color: var(--rc-error-color);
  }

  &__success {
    color: var(--rc-success-color);
  }

  &__warning {
    color: var(--rc-warning-color);
  }

  &&-bounce {
    @keyframes rc-toast-bounce-in {
      from {
        opacity: 0;
        transform: scale(0.2);
      }

      to {
        opacity: 1;
        transform: scale(1);
      }
    }

    @keyframes rc-toast-bounce-out {
      from {
        opacity: 1;
        transform: scale(1);
      }

      to {
        opacity: 0;
        transform: scale(0.2);
      }
    }

    &-enter-active {
      animation: var(--rc-animation-duration-fast) rc-toast-bounce-in both
        var(--rc-animation-timing-function-ease-out-circ);
    }

    &-exit-active {
      animation: var(--rc-animation-duration-fast) rc-toast-bounce-out both
        var(--rc-animation-timing-function-ease-in-out-circ);
    }
  }
}
