:root {
  --rc-dialog-top: 45%;
  --rc-dialog-font-size: 16px;
  --rc-dialog-background-color: theme(colors.black);
  --rc-dialog-border-radius: theme(borderRadius.default);
  --rc-dialog-transition: theme(transitionDuration.default);
  --rc-dialog-content-padding: 24px 24px;
  --rc-dialog-content-width: auto;
  --rc-dialog-box-shadow: theme(boxShadow.default);
}

.rc-dialog {
  &.rc-popup {
    top: var(--rc-dialog-top);
    left: 50%;
    overflow: hidden;
    font-size: var(--rc-dialog-font-size);
    background-color: var(--rc-dialog-background-color);
    border-radius: var(--rc-dialog-border-radius);
    backface-visibility: hidden;
    transition-property: transform, opacity;
  }
  
  &__content {
    color: theme(colors.white);
    padding: var(--rc-dialog-content-padding);
    width: var(--rc-dialog-content-width);
  }

  &&-bounce {
    @keyframes rc-dialog-bounce-in {
      from {
        opacity: 0;
        transform: translate3d(-50%, -50%, 0) scale(0.8);
      }

      to {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0) scale(1);
      }
    }

    @keyframes rc-dialog-bounce-out {
      from {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0) scale(1);
      }

      to {
        opacity: 0;
        transform: translate3d(-50%, -50%, 0) scale(0.8);
      }
    }

    &-enter-active {
      animation: var(--rc-animation-duration-fast) rc-dialog-bounce-in both var(--rc-animation-timing-function-ease-out-circ);
    }

    &-exit-active {
      animation: var(--rc-animation-duration-fast) rc-dialog-bounce-out both var(--rc-animation-timing-function-ease-in-out-circ);
    }
  }
}
